13.Web-Services-and-Cloud/03.WCF.Services/ConsoleClientCountSubstrings/Service References/ServiceReference/substring1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CountSubstringRepetitionsWithinString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="substring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="originalString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountSubstringRepetitionsWithinStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountSubstringRepetitionsWithinStringResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>